*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.carousel-item img{
    width: 100%;
    height: 90vh;
    
}
.navbar{
    height: 80px;
    background-color: rgb(11, 11, 58);
    
}
.navbar-brand {
    color: white;
    font-size: 40px;
    font-weight: 700;
    font-family: "Abril Fatface", serif;
    font-style: normal;

}
.navbar-brand:hover{
    color: rgb(234, 156, 12);
}
.nav-link{
    color:white;
    font-size: 20px;
    font-weight: 500;
}
.nav-link:hover{
    color: rgb(234, 156,12);
}
.btn{
    background-color: rgb(11, 11, 58);
    color: white;
    border: 1px solid white;
}
.btn:hover{
    background-color: rgb(234, 156, 12);
    border: 1px solid rgb(234, 156, 12);
}
.about{
    color: rgb(11, 11, 58);
    
}
.text-area{
   
    padding: 10px 60px;
} 
.text-area h2{
    padding: 5px 0px;
    font-weight: 700;
}
.heading{
    font-family: "Alex Brush", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;     
}
.text-area h4{
    font-weight: 700;
}
.dropdown-item{
    color: rgb(11, 11, 58);
    font-size: 15px;    
}
.menu{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;   
}

.menu-area{
    margin: 10px 80px;
}
.titles{
    color: rgb(11, 11, 58);
    font-family: "Pacifico", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    margin: 20px 0px;
}
.next-page{
    color: rgb(11, 11, 58);
    font-size: 20px;
    text-decoration: none;
}
.card{
    border: 1px solid rgb(11, 11, 58);
}

.logo{
    color: white;
    font-size: 40px;
    font-weight: 700;
    font-family: "Abril Fatface", serif;
    font-style: normal;
}
.social-icons a{
    color: white;
    border-radius: 50px;
    font-size: 35px;  
}
.newsletter{
    color: white;
}
.footer-section{
    color: white;
}